body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.country-content {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.country-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.country-content h2 {
  margin-top: 0;
  text-align: center;
}

.country-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.country-content ul li {
  margin-bottom: 5px;
}

.errorMessage {
  color: red;
  font-weight: bold;
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
